<div class="channels-wrapper">
  <h2>Channel Options</h2>
  <div class="edit-channels-link">
    <%= link_to "Add Channels To Track", new_channel_path %>
  </div>
  <%= render 'tracked_channels' %>
</div>
