/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	box-sizing: border-box;
	margin: 0 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 19, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
h1 {
  font-size: 3.5em;
  font-family: 'Poiret One';
}

/* line 25, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
h3 {
  font-size: 2em;
  font-family: 'Poiret One';
}

/* NAV */
/* line 32, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
nav {
  font-family: 'Poiret One';
  background-color: #8fbfe5;
}

/* HOME */
/* line 40, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
.home-wrapper {
  height: 100vh;
  background-image: url(/assets/home_background-0d76a89009abe269456d42ba1a32b239c96174cb6fd9ba8311aad0a5739f1109.png);
  background-size: cover;
}

/* line 46, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
.home-inner-wrapper {
  background-color: rgba(248, 237, 237, 0.6);
  height: 100vh;
  padding-top: 150px;
}
/* line 50, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
.home-inner-wrapper .home-content {
  font-family: 'Poiret One';
  text-align: center;
  width: 550px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px 0 50px 0;
}
/* line 57, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
.home-inner-wrapper .home-content h3 {
  padding-top: 15px;
}
/* line 60, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
.home-inner-wrapper .home-content .login-link {
  margin-top: 60px;
}
/* line 62, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
.home-inner-wrapper .home-content .login-link a {
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  border: 3px solid black;
  border-radius: 6px;
  padding: 15px;
}

/* SENTIMENT DASHBOARD */
/* line 77, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
.dashboard-wrapper h1 {
  padding-top: 30px;
  text-align: center;
}
/* line 81, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
.dashboard-wrapper .filters {
  height: 150px;
  text-align: center;
  padding-top: 40px;
}
/* line 85, /Users/JEC/Turing/3Module/projects/slack_mood/room_temperature/app/assets/stylesheets/application.css.scss */
.dashboard-wrapper .filters a {
  background-color: #e9d7b9;
  color: black;
  font-family: 'Poiret One';
}
