---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?exclude_archived=1&token=xoxp-2329094327-10377755170-24063830484-042e3cc287
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Oauth-Scopes:
      - identify,channels:history,im:history,mpim:history,channels:read,users:read
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C02B05SDQ","name":"1406","is_channel":true,"created":1401902743,"creator":"U029P2S9P","is_archived":false,"is_general":false,"is_member":false,"members":["U029P2S9P","U029PR5TG","U029PS9GL","U02AZCPDZ","U02AZDXUZ","U02AZE0F7","U02AZFADX","U02AZH33V","U02AZJLE9","U02B016TR","U02B02D0Z","U02B06K5Y","U02B07U2Q","U02B0A58C","U02B0A85G","U02B0BVKY","U02B0CA68","U02B0RTUL","U02B0S4KU","U02B13DCQ","U02B4RACH","U02C2JXMT","U02C2SGFK","U02C3QXKA","U02C40LBY","U02C4QJT4","U02D2TTKD","U02DYLSSJ","U02F7BSJ3","U02F80QGQ","U02F8G7H1","U02FF3A6J","U02FN1FJJ","U02FNB5A8","U02FYSHRV","U02H7KFLL","U02HNRAAS","U02HYNSDK","U02J96BUJ","U02M12TMC","U02MVPHD2","U02N8861W","U02QB36PA","U02QBCK37","U02QM468V","U02QVMB4E","U030TU4AN","U0550TGA2"],"topic":{"value":"Report
        Chad sightings here","creator":"U02GA9USU","last_set":1421974816},"purpose":{"value":"Chat
        for the Ruby 1406 Cohort","creator":"U029P2S9P","last_set":1401902743},"num_members":47},{"id":"C02DX6PM0","name":"1407","is_channel":true,"created":1405872478,"creator":"U029P2S9P","is_archived":false,"is_general":false,"is_member":false,"members":["U029P2S9P","U029PR5TG","U029PS9GL","U02AZDXUZ","U02B016TR","U02B08A5N","U02B0RTUL","U02B13DCQ","U02C2JXMT","U02C2SGFK","U02C40LBY","U02C4QJT4","U02D2TTKD","U02DXPGTV","U02DXQ8LX","U02DYLSSJ","U02DYML5A","U02DZ1JET","U02DZDT0C","U02DZMK70","U02DZPDEC","U02DZRWG2","U02E0582A","U02E4RUNG","U02F7BSJ3","U02F80QGQ","U02F8G7H1","U02FF3A6J"[...]
