---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.history?channel=C03HS2LS0&token=xoxp-2329094327-10377755170-23775525907-73891740df
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:history
      X-Oauth-Scopes:
      - identify,channels:history,im:history,mpim:history,channels:read,team:read,users:read,usergroups:read
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","user":"U02FM471Z","text":"There''s
        a point where a thing is too far gone for ethical compostinf","ts":"1456874444.000516","reactions":[{"name":"meeka-the-pop-star","users":["U0DCH2M9A","U02D2TTKD"],"count":2}]},{"type":"message","user":"U0DCP9P7T","text":"maybe
        the <#C0L0M6TKJ> club can try to compost it","ts":"1456874052.000515"},{"type":"message","user":"U02GA9USU","text":"<@U029PR5TG>:
        Please do not kill it with fire. That\u2019s a bad idea.","ts":"1456872597.000514"},{"type":"message","user":"U03J8R009","text":"Valar
        Morghulis","ts":"1456868853.000513"},{"type":"message","user":"U029PR5TG","text":"<@U03J8R009>:
        Valar Morghulis","ts":"1456867273.000512"},{"type":"message","user":"U03J8R009","text":"april
        26th 2016","ts":"1456866483.000511"},{"type":"message","user":"U03J8R009","text":"da
        du dadada du","ts":"1456866476.000510"},{"type":"message","user":"U03J8R009","text":"and
        ice","ts":"1456866451.000509"},{"type":"message","user":"U029PR5TG","text":"^
        KILL IT WITH FIRE","ts":"1456866426.000508"},{"type":"message","user":"U04UEBSJK","text":"they
        have 2 minutes!","ts":"1456862287.000507"},{"type":"message","user":"U09U4L96J","text":"If
        it smells like a dead body, do you think they even still want it? I would
        just toss it","ts":"1456862145.000506"},{"type":"message","user":"U04UEBSJK","text":"The
        owner of this bag which is the culprit of the dead body smell has until the
        end of lunch then this is getting thrown away.  sitting on top of the cabinet
        by the trash cans","edited":{"user":"U04UEBSJK","ts":"1456860507.000000"},"ts":"1456860492.000504","reactions":[{"name":"fire","users":["U0HRSRB0V","U09UB1KFY"],"count":2}]},{"type":"message","subtype":"file_share","text":"<@U04UEBSJK|this_just_in>
        uploaded a file: <https:\/\/turingschool.slack.com\/files\/this_just_in\/F0PP9DX88\/wp_20160301_12_10_19_pro.jpg|WP&lowbar;20160301&lowbar;12&lowbar;10&lowbar;19&lowbar;Pro.jpg>","file":{"id":"F0PP9DX88","created":1456860478,"timestamp":1456860478,"name":"WP_20160301_12_10_19_Pro.jpg","title":"WP_20160301_12_10_19_Pro.jpg","mimetype":"image\/jpeg","filetype":"jpg","pretty_type":"JPEG","user":"U04UEBSJK","editable":false,"size":359069,"mode":"hosted","is_external":false,"external_type":"","is_public":true,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https:\/\/files.slack.com\/files-pri\/T029P2S9M-F0PP9DX88\/wp_20160301_12_10_19_pro.jpg","url_private_download":"https:\/\/files.slack.com\/files-pri\/T029P2S9M-F0PP9DX88\/download\/wp_20160301_12_10_19_pro.jpg","thumb_64":"https:\/\/files.slack.com\/files-tmb\/T029P2S9M-F0PP9DX88-6e98b5fbec\/wp_20160301_12_10_19_pro_64.jpg","thumb_80":"https:\/\/files.slack.com\/files-tmb\/T029P2S9M-F0PP9DX88-6e98b5fbec\/wp_20160301_12_10_19_pro_80.jpg","thumb_360":"https:\/\/files.slack.com\/files-tmb\/T029P2S9M-F0PP9DX88-6e98b5fbec\/wp_20160301_12_10_19_pro_360.jpg","thumb_360_w":203,"thumb_360_h":360,"thumb_480":"https:\/\/files.slack.com\/files-tmb\/T029P2S9M-F0PP9DX88-6e98b5fbec\/wp_20160301_12_10_19_pro_480.jpg","thumb_480_w":270,"thumb_480_h":480,"thumb_160":"https:\/\/files.slack.com\/files-tmb\/T029P2S9M-F0PP9DX88-6e98b5fbec\/wp_20160301_12_10_19_pro_160.jpg","thumb_720":"https:\/\/files.slack.com\/files-tmb\/T029P2S9M-F0PP9DX88-6e98b5fbec\/wp_20160301_12_10_19_pro_720.jpg","thumb_720_w":405,"thumb_720_h":720,"thumb_960":"https:\/\/files.slack.com\/files-tmb\/T029P2S9M-F0PP9DX88-6e98b5fbec\/wp_20160301_12_10_19_pro_960.jpg","thumb_960_w":540,"thumb_960_h":960,"thumb_1024":"https:\/\/files.slack.com\/files-tmb\/T029P2S9M-F0PP9DX88-6e98b5fbec\/wp_20160301_12_10_19_pro_1024.jpg","thumb_1024_w":576,"thumb_1024_h":1024,"image_exif_rotation":1,"original_w":1632,"original_h":918,"permalink":"https:\/\/turingschool.slack.com\/files\/this_just_in\/F0PP9DX88\/wp_20160301_12_10_19_pro.jpg","permalink_public":"https:\/\/slack-files.com\/T029P2S9M-F0PP9DX88-c41d4bd1db","channels":["C03HS2LS0"],"groups":[],"ims":[],"comments_count":0},"user":"U04UEBSJK","upload":true,"display_as_bot":false,"username":"<@U04UEBSJK|this_just_in>","bot_id":null,"ts":"1456860489.000503"},{"type":"message","user":"U04T2GBH6","text":"#MakeTuringGreatAgain","ts":"1456859609.000500"},{"type":"message","user":"U04UEBSJK","text":"If
        you have food in the main fridge\u2026\u2026..come get it and put it back
        into the fridge.  I\u2019m leaving anything out that may be the culprit of
        the nasty smell on the table.","ts":"1456859583.000499"},{"type":"message","user":"U04UEBSJK","text":"<@U0E9ZQ6VB>:
        did you mean to tag me instead[...]
