---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.history?channel=C0HF9KLTV&oldest=1456947814.49579&token=xoxp-17522645190-17522305607-25376479744-86952ddda2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:history
      X-Oauth-Scopes:
      - identify,channels:history,im:history,mpim:history,channels:read,users:read
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"oldest":"1456947814.49579","messages":[{"type":"message","user":"U0HFC8ZHV","text":"and
        i need messagessss to be in hereeee","ts":"1457552685.000003"},{"type":"message","user":"U0HFC8ZHV","text":"this
        is a test!! working on a school project.","ts":"1457552679.000002"}],"has_more":false}'
  recorded_at: Wed, 09 Mar 2016 19:54:20 GMT
recorded_with: VCR 3.0.1
