---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.history?channel=C03HS2LS0&oldest=1456509652.000402&token=xoxp-2329094327-10377755170-24063830484-042e3cc287
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:history
      X-Oauth-Scopes:
      - identify,channels:history,im:history,mpim:history,channels:read,users:read
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"oldest":"1456509652.000402","messages":[{"type":"message","user":"U02Q25H6V","text":"It
        was my mistake - and I apologize, there is no rule of law here anymore, I
        just ask that you try to be sparing and use the at here instead of the at
        channel so you\u2019re not pinging 228 people with a notification whether
        they are online or not","ts":"1456972968.000532"},{"type":"message","user":"U09U64HQQ","text":"We
        need a slack vigilante like <@U0DCH2M9A> to throw down a giphy and see what
        happens...","ts":"1456972581.000531","reactions":[{"name":"grumpy-baby","users":["U0DCH2M9A","U09U4L96J"],"count":2}]},{"type":"message","user":"U0BHMV2QG","text":"There
        is no standard in the Turing channel now. No authoritative voice anymore.
        Posts must live or die by the wrath of the :fire:","ts":"1456971256.000530"},{"type":"message","user":"U0DCP9P7T","text":"I
        thought use of Turing channel was more open now with added announcement channel.
        Could someone clarify either way? So we don''t get :fire: ","ts":"1456962847.000529"},{"type":"message","user":"U0DK1AD28","text":"Th[...]
