<div class="home-wrapper">
  <div class="home-inner-wrapper">
    <div class="home-content">
      <h1>Room Temperature</h1>
      <h3>Slack Channel Sentiment Analysis</h3>
      <div class="login-link">
        <%= link_to "Login with Slack", login_path %>
      </div>
    </div>
  </div>
</div>
