/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Poiret One';
}

h1 {
  font-size: 3.5em;
  font-family: 'Poiret One';

}

h2 {
  font-size: 2.5em;
  font-family: 'Poiret One';
}

h3 {
  font-size: 2em;
  font-family: 'Poiret One';
}

h4 {
  font-size: 1.7em;
}

/* NAV */

nav {
  font-family: 'Poiret One';
  background-color: #8fbfe5;
}


/* HOME */

.home-wrapper {
  height: 100vh;
  background-image: image-url("home_background.png");
  background-size: cover;
}

.home-inner-wrapper {
  background-color: rgba(248, 237, 237, 0.6);
  height: 100vh;
  padding-top: 150px;
  .home-content {
    font-family: 'Poiret One';
    text-align: center;
    width: 550px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px 0 50px 0;
    h3 {
      padding-top: 15px;
    }
    .login-link {
      margin-top: 60px;
      a {
        font-size: 1.5em;
        color: black;
        text-decoration: none;
        border: 3px solid black;
        border-radius: 6px;
        padding: 15px;
      }
    }
  }
}

/* SENTIMENT DASHBOARD */

.dashboard-wrapper {
  h2 {
    padding-top: 0px;
    margin-bottom: 0;
    text-align: center;
  }
  .filters {
    height: 150px;
    padding-top: 40px;
    text-align: center;
    .field {
      width: 250px;
      display: inline-block;
      margin-left: 50px;
      .submit-btn {
        padding: 15px 30px 15px 30px;
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
      }
    }
  }
}

.select-wrapper input.select-dropdown {
  width: 250px;
}

#chart {
  h4 {
    margin: 0;
    padding-bottom: 5px;
  }
  .yaxis {
    font-size: 18px;
    background-color: white;
    z-index: 1;
    height: 265px;
    width: 60px;
    position: absolute;
    top: 380px;
    left: 290px;
    .space {
      padding-bottom: 100px;
    }
  }
  .xaxis {
    font-size: 18px;
    background-color: white;
    z-index: 1;
    position: absolute;
    bottom: 90px;
    left: 300px;
    width: 820px;
    padding-left: 130px;
    .space {
      padding-right: 300px;
    }
  }

}


/* CHANNELS INDEX */
.channels-wrapper {
  h2 {
    text-align: center;
    padding-top: 30px;
  }
  .edit-channels-link {
    text-align: center;
    margin-top: 80px;
    a {
      font-size: 1.5em;
      color: black;
      text-decoration: none;
      border: 3px solid black;
      border-radius: 6px;
      padding: 15px;
    }
  }
  .tracked-channels {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
    h4 {
      margin-bottom: 10px;
    }
    div {
      padding: 10px 0 0 30px;
      a {
        float: right;
      }
    }
  }
}

/* CHANNELS NEW */
.new-channel-wrapper {
  h2 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .new-channel-form {
    width: 230px;
    margin: 0 auto;
    text-align: center;
    .select-dropdown {
      max-height: 400px;
    }
    .submit-btn {
      margin-top: 20px;
      padding: 15px 30px 15px 30px;
      background-color: white;
      border: 1px solid black;
      border-radius: 4px;
    }
  }

}
